<h1>Tiny App</h1>

<% if(id){ %>
  <%= id %>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
  <% } else { %>
    <p><a href="/login">Login </a>or<a href="/register">Register</a></p>
  <% }; %>
