<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <form action="/register" method="POST">
      <label for="email">E-mail: </label>
      <input id="email" type="email" name="email" style="width: 100px">
      <label for="password">Password: </label>
      <input id="password" type="password" name="password" style="width: 100px">
      <input type="submit" value="Submit">
    </form>
    <br><br><br>
    <button><a href="/login">Login</a></button>
    <button><a href="/urls">Cancel</a></button>


  </body>
</html>
