<!DOCTYPE html>
<html lang="en">
<header>
    <% include ./partials/_header %>
</header>
<body>
  <ul>
    <% for (var key in urls) { %>
      <li> <a href="#"> <%= key %> : <%= urls[key] %></a></li>
      <button>Delete</button>
    <% }; %>
  </ul>
  <form method="POST" action="/urls/9sm5xK/delete">...</form>
</body>
</html>
