<!DOCTYPE html>
<html lang="en">
<header>
    <% include ./partials/_header %>
</header>
<body>
  <ul>
    <% for (var key in urls) { %>
      <li> <a href="#"> <%= key %> : <%= urls[key] %></a>
        <form method="POST" action="/urls/<%= key %>/delete"><button type="submit">Delete</button></form>
      </li>
    <% }; %>
  </ul>
</body>
</html>
